# Put language specific ignores in <language>/.gitignore

**/.DS_Store

.idea
**/*.swp

*.iml

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output and build-cache directories
build/
build-cache/
build-cache.lock
